<h1>Listing categories</h1>

<%=link_to 'New category', new_category_path %>

<table>
	<tr>
		<th>Category</th>
	</tr>

	<% @categories.each do |category| %>
		<tr>
			<td><%= category.category%></td>
			<td><%= link_to 'show', category_path(category) %></td>
			<td><%= link_to 'rename', edit_category_path(category) %></td>
			<td><%= link_to 'Delete', category_path(category),
							method: :delete,
							data: { confirm: 'Are you sure?'}
			 %></td>
		</tr>
	<% end %>

</table>