<h1>New Category</h1>

<%= form_for :category, url: categories_path do |f| %>



  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>


<% end %>

<%= link_to 'Back', categories_path %>