
<p>
  <strong>Category:</strong>
  <%= @category.category %>
</p>

<h2>Posts</h2>
<%= render @category.posts %>

<h2>Add a post:</h2>
<%= render 'posts/form' %>

<%= link_to 'rename', edit_category_path(@category) %>
<%= link_to 'Back', categories_path %>